# Ignore compiled python files
*.py[co]
__pycache__

.DS_Store

# Most projects end up with a local.env that can contain config settings/credentials
local.env

/env
/deployment_debugging_stuff
/fundtool/.ebextensions
/fundtool/.elasticbeanstalk
